<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopAssistantAI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesktopAssistantAI.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowRight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedAssistantId" serializeAs="String">
                <value />
            </setting>
            <setting name="AssistantsApiConfigs" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIApiConfigs" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMessages" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AvatarOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AvatarSize" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="AvatarConfigs" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedAvatarConfig" serializeAs="String">
                <value>OpenAI</value>
            </setting>
        </DesktopAssistantAI.Properties.Settings>
    </userSettings>
</configuration>